/* 


GENERAL


*/

body, input, textarea, keygen, select, button, h1 {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	cursor: pointer;
	text-align: left;
	background-color: rgba(0,0,0,0);
	border: none;
}

button:focus {
	outline: 0;
	border: none;
}

.main-holder {
	width: 1220px;
	margin: 0 auto;
	/* background-color: #E8E8E8; */
}

.tint-one { /*Negative actions (red)*/
	color: #FF7070!important;
}

.tint-one:hover { /*Negative actions (red)*/
	color: #FF2E2E!important;
}

.tint-two { /*Task List tint color (blue)*/
	color: #47BAFF!important;
}

.tint-three { /*Secondary buttons (grey)*/
	color: rgba(0,0,0,0.2)!important;
}

.tint-three:hover {
	color: rgba(0,0,0,0.3)!important;
}

.drag-placeholder {
    background-image: url(app-assets/bg-drag-placeholder.png);
    background-position: left top;
}

/* 


LEFT COLUMN


*/

.left-column {
	float: left;
	width: 340px;
	height: 100vh;
	padding: 0;
	margin: 0;
	/* background-color: #D7D7D7; */
}

.left-column-header {
	height: 40px;
	padding: 16px 0 8px 0;
	/* background-color: #CCCCCC; */
}

.left-column-content {
	overflow:scroll;
}

.task-list {
	padding-bottom: 8px;
}

.task-list-header {
	padding: 8px 0 10px 10px;
	font-size: 14px;
	font-weight: 700;
	color: #47BAFF;
/* 			text-transform: uppercase; */
	cursor: pointer;
}

.new-list {
	width: 100%;
	margin-bottom: 50px;
}

.task-list-content li {
	clear: both;
	padding: 0;
	font-size: 13px;
	cursor: default;
}

.task-list-item-checkbox {
	float: left;
	width: 40px;
	height: 100%;
}

.task-list-item-title {
	padding: 5px 10px 5px 40px;
}

.task-list-item-title-done {
	color: rgba(0,0,0,0.3)
}

.task-list-item-checkbox img {
	width: 40px;
	height: 28px;
}

.task-list li textarea {
	width: 290px;
	margin: 0px auto;
	padding: 5px 10px 5px 40px;
	font-size: 13px;
	border: none;
	background-color: rgba(0,0,0,0);
	background-image: url(app-assets/icn-item-add-2x.png);
	background-size: 40px 28px;
	background-position: top left;
	background-repeat: no-repeat;
	color: #000;
	border-radius: 4px;
	box-shadow: none;
	-webkit-appearance: none;
	resize: none;
}

.task-list li textarea:focus {
	outline: 0;
	border: none;
/* 			background-color: rgba(0,0,0,0.03); */
}

.task-list-item-selected {
	background-color: rgba(0,0,0,0.04);
	border-radius: 4px;
}

/* 


CENTER COLUMN


*/

.center-column {
	float: left;
	width: 480px;
	height: 100vh;
	padding: 0;
	margin: 0 30px;
	background-color: rgba(0,0,0,0.03);
}

.center-column-header {
	height: 40px;
	padding: 16px 30px 8px;
	/* background-color: #CCCCCC; */
}

.in-progress-title {
	padding: 0 0 0 46px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 40px;
}

.center-column-content {
	overflow:scroll;
}

.status-list-content li {
	clear: both;
	padding: 0 30px;
	font-size: 13px;
	cursor: default;
}

.status-list-item-checkbox {
	float: left;
	width: 40px;
}

.status-list-item-title {
	font-size: 14px;
	padding: 6px 10px 0px 46px;
}

.status-list-item-subtitle {
	padding: 3px 10px 10px 46px;
	font-size: 11px;
	font-weight: 600;
/* 			text-transform: uppercase; */
	color: rgba(0,0,0,0.3)			
}

.status-list-item-checkbox img {
	width: 40px;
	height: 40px;
}

.status-list-item-selected {
	background-color: rgba(0,0,0,0.04);
}

/* 


RIGHT COLUMN


*/

.right-column {
	float: left;
	width: 340px;
	height: 100vh;
	padding: 0;
	margin: 0;	
}

.right-column-header {
	height: 40px;
	padding: 16px 10px 8px 0;
}

.task-details-content {
	overflow: scroll;
}

.task-details-title {
	padding: 0;
}

.task-details-title textarea {
	width: 320px;
	margin: 0px auto;
	padding: 4px 10px 4px;
	font-size: 16px;
	font-weight: 700;
	color: #000;
	border: none;
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	box-shadow: none;
	-webkit-appearance: none;
	resize: none;
}

.task-details-title textarea:focus {
	outline: 0;
	border: none;
/* 			background-color: rgba(0,0,0,0.03); */
}

.task-details-subtitle {
	padding: 0px 10px 11px;
	font-size: 12px;
	font-weight: 600;
	color: #47BAFF;
	
/* 			text-transform: uppercase; */
}

.task-details-description {
	padding: 0;
}

.task-details-description textarea {
	width: 320px;
	margin: 0px auto;
	padding: 8px 10px;
	font-size: 13px;
	font-weight: 400;
	color: #000;
	border: none;
	background-color: rgba(0,0,0,0);
	border-radius: 4px;
	box-shadow: none;
	-webkit-appearance: none;
	resize: none;
}

.task-details-description textarea:focus {
	outline: 0;
	border: none;
/* 			background-color: rgba(0,0,0,0.03); */
}

/* 


DIALOG OVERLAYS


*/

.dialog-screen-holder {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100vw;
	height: 100vh;
}

.dialog-screen {
	width: 320px;
	margin: 200px auto 0;
	background-color: rgba(255,255,255,1);
	border-radius: 4px;
}

.dialog-screen h1 {
	font-size: 14px;
	font-weight: 700;
	padding: 24px 24px 0;
	text-transform: uppercase;
}

.dialog-screen p {
	font-size: 13px;
	font-weight: 400;
	padding: 24px 24px 0;
	margin: 0;
}

.dialog-screen input[type="text"] {
	font-size: 15px;
	width: 256px;
	padding: 8px 10px 8px 0;
	margin: 16px 0 0px 24px;
	font-weight: 700;
/* 			text-transform: uppercase; */
	font-size: 14px;
	color: #000;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0);
	border-radius: 0px;
	box-shadow: none;
	-webkit-appearance: none;
	resize: none;
}

.dialog-screen input[type="text"]:focus {
	outline: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dialog-screen ::-webkit-input-placeholder { color:rgba(0,0,0,0.1) }
.dialog-screen ::-moz-placeholder { color:rgba(0,0,0,0.1) }
.dialog-screen :-ms-input-placeholder { color:rgba(0,0,0,0.1) }
.dialog-screen input:-moz-placeholder { color:rgba(0,0,0,0.1) }

.dialog-screen-button-holder {
	padding: 24px 12px 12px 0;
	text-align: right;
}

.dialog-screen-button {
	display: inline-block;
	padding: 12px 16px 12px 10px;
	font-size: 14px;
	font-weight: 700;
/* 	text-transform: uppercase; */
}

.dialog-screen-button:hover {
	color: rgba(0,0,0,0.4)
}